
h1 {
    opacity: .6;
    font-weight: 400;
}
.jumbotron {

    background-image: url("../img/pizza.png");
    /*background-size: cover;*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    color: black !important;
    padding: 64px 0 64px 0;


}