
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #007BFB;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}




#map {

    width: 100%;
    height: 400px;


}



/*#weekly-forecast-card-set {*/
/*    display: flex;*/
/*    */
/*}*/

#weekly-forecast-card-set {

   opacity: 50%;


   
}
